<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular表达式</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript">
        var myApp = angular.module("myApp",[]);
        myApp.controller("myController",function ($scope) {
            /* 定义对象数组 */
            $scope.list = [{name:"C罗",age:33,sex:"男"},
                {name:"伊莲娜",age:30,sex:"女"},
                {name:"乔治娜",age:28,sex:"女"}];
        });
    </script>
</head>
<!-- 指定AngularJS应用的根元素 -->
<body ng-app="myApp" ng-controller="myController">
    <div ng-repeat="user in list"><h2 ng-if="user.age > 30">{{user}}</h2></div>
</body>
</html>